/*COPYRIGHT of 2025, made by MoonClient. 
Do not use this repository to create you're own website. 
This is only public for github pages*/

html, body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #673da1, black);
    color: white;
    font-family: Helvetica, sans-serif;
}

.top-nav {
    position: absolute;
    display: flex;
    width: 100%;
    height: 60px;
    top: 0;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.moon {
    border-radius: 10px;
}

.title {
    margin-left: 20px;
}

.links {
    align-items: center;
    display: flex;
    float: right;
    text-align: right;
    right: 0;
    position: fixed;
    margin-right: 20px;
}

.linkText {
    margin-left: 10px;
    margin-right: 10px;
}

.info {
    margin-left: 50px;
    font-size: larger;
}

.mods {
    display: flex;
}

.mods p {
    margin-left: 10px;
    font-size: smaller;
}
  
.upcomingModsTitle {
    margin-left: 10px;
}

.mods2 {
    display: flex;
}

.mods2 p{
    margin-left: 10px;
    font-size: smaller;
}

.mods3 {
    display: flex;
}

.mods3 p{
    margin-left: 10px;
    font-size: smaller;
}

a {
    color: white;
    text-decoration: none;
}

.mod {
    background-color: rgba(200, 200, 200, 0.5);
    border: 2px solid rgba(230, 230, 230, 0.5);
    height: 30px;
    width: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.meteorContainer {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.meteorTitle {
    margin-left: 20px;
}

.bottom {
    width: 100%;
    height: 100%;
    background-color: #673da1;
}

#versions {
    background-color: rgba(200, 200, 200, 0.5);
    border: 2px solid rgba(230, 230, 230, 0.5);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
}

#downloads {
    background-color: rgba(200, 200, 200, 0.5);
    border: 2px solid rgba(230, 230, 230, 0.5);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
}

#meteorPlus {
    background-color: rgba(200, 200, 200, 0.5);
    border: 2px solid rgba(230, 230, 230, 0.5);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}